{% extends "base.html" %}
{% block title %}<title> Calculator-home</title>{% endblock %}

{% block content %}
  

      <div class="container-fluid" style="margin-bottom: 20rem;">
        {% if error %}
          <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          {% endif %}
              {% if result %}
              <div class="row">
                <div class="col-md-6" style="margin: 0 auto;">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{q}} = {{ans}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            </div>
            {% endif %}
          <div class="row">
              <div class="col-md-6" style="margin: 1rem auto 0  auto;">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{% url 'submitquery'%}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="query" id="query">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" class="btn btn-success" style="display: block;margin: 0 auto;">

                                </div>
                                <div class="col-6">
                                    <input type="reset" class="btn btn-danger" style="display: block;margin: 0 auto;">
    
                                </div>
                              
                              </div>
                  
                            </form>
                    </div>
                </div>
              </div>
          </div>
        </br>
        <a href="{% url 'history'%}"><button type="button" class="btn btn-primary" style="display: block;margin: 0 auto;" >Previous History</button></a></center>
                   
          <div class="row">
              <div class="col-md-6" style="margin: 2rem auto 0 auto;">
                <p class="display-4" id="about" name="about" style="text-align: center;">
                    About
                </p>
                <hr>
                <p class="lead" style="text-align: center;">
                    Our Calculator app can perform mathematical operations
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto;">
              <p class="display-4" id="instructions" name="about" style="text-align: center;">
                  Instructions
              </p>
              <hr>
              <ul class="list-group">
                <li class="list-group-item">+ Additon</li>
                <li class="list-group-item">- Minus</li>
                <li class="list-group-item">* Multiplication</li>
                <li class="list-group-item">/ Division</li>
                <li class="list-group-item">// Floor Division</li>
                <li class="list-group-item">** Exponential</li>
                <li class="list-group-item">% Mod</li>
                <li class="list-group-item">( ) Parentheses</li>

              </ul>
            </div>
        </div>
          
      </div>
      
      
      
{% endblock content %}